@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Suggest a Restaurant!";
}

<!--Pull in the correct model-->
@model Assignment4.Models.SuggestedRestaurant

<!--Set up a form to collect the information we need for suggested Restaurants-->
<form asp-action="Suggestions" method="post">
    <div>
        <p>Suggest a Restaurant!</p>
    </div>

    <!--Apply some Bootstrap-->
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input class="form-control" asp-for="Name" />
    </div>

    <div class="form-group">
        <label asp-for="RestaurantName">Restaurant Name:</label>
        <input class="form-control" asp-for="RestaurantName" />
    </div>

    <div class="form-group">
        <label asp-for="FavoriteDish">Favorite Dish:</label>
        <input class="form-control" asp-for="FavoriteDish" />
    </div>

    <div class="form-group">
        <label asp-for="Phone">Phone:</label>
        <input class="form-control" asp-for="Phone" />
    </div>

    <!--Submit collected information and display errors if there are errors-->
    <button type="submit">Submit</button>
    <div asp-validation-summary="All"></div>
</form>